<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Fuente vistosa desde Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body class="bg-dark text-white d-flex align-items-center min-vh-100">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="mt-5" style="font-family: 'Pacifico', cursive;">Imagen Procesada !!</h1>
        <img src="{{ url_for('static', filename='output.png') }}" alt="Processed Image" class="img-fluid rounded shadow">
        <a href="/" class="btn btn-primary mt-3">Subir otra imagen</a>
    </div>
</body>
</html>
